<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eau Claire's Salon</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="p-3 m-5">
    <div class="container mt-4">
    @RenderBody()
    <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#offcanvasSalon" role="button" aria-controls="offcanvasSalon">Salon Services & Information</a>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSalon" aria-labelledby="offcanvasSalonLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasSalonLabel">Eau Claire Salon Services ✂️</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          Welcome to our family-owned salon. We've been in the business of shaping you since 1972! Located in the sunny valley of Dream Porch, Oregon, where the hair grows fast and the beards need trimming! Here are a few of our services:<br>
          <ul>
            <li>Perms (that's right, folks still love getting that perm!)</li>
            <li>Frizz-Out (inquire within)</li>
            <li>Color Treatments</li>
            <li>Restorative Hair Masks</li>
            <li>Volumizing</li>
            <li>Express Up-Do</li>
            <li>Luxury Blow Dry</li>
            <li>Beards, ears and nose hairs need trimming too!</li>
          </ul>
          <p>Feel free to give us call or drop on by if you're in need of being bedazzled!</p>
          <p>1972 SE Porch Blvd, Dream Porch, Or 97222<br>503.555.9898</p>
        </div>
      </div>
    </div>
    </div>
    @await Html.PartialAsync("Footer")
    @await Html.PartialAsync("Header")
  </body>
</html>