body {
  color: rgb(0, 0, 0);
  font-family:monospace;
}
div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
  height: 10%;
	width: 100%;
  color:#000000;
	padding:8px;
  background: url('/salon.png') repeat; 
  background-position-y: bottom ;
}

div#header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  color:#000000;
  background: rgb(255, 136, 255);
  padding:8px;
}

.container {
	border-left: 4px solid  rgb(255, 136, 255);
	border-right: 4px solid  rgb(255, 136, 255);
	
}